{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细搜索内容</title>
</head>
<body>
<center>
    <div style="width: 1300px; padding-right: 40px">
        <table class="table table-hover">
            <tr>
                <th style="width: 100px;text-align: center"><font size="4pt">职务</font></th>
                <th style="width: 100px;text-align: center"><font size="4pt">职务编号</font></th>
                <th style="width: 100px;text-align: center"><font size="4pt">船龄</font></th>
                <th style="width: 200px;text-align: center"><font size="4pt">公司名称</font></th>
                <th style="width: 100px;text-align: center"><font size="4pt">证书等级</font></th>
                <th style="width: 200px;text-align: center"><font size="4pt">特殊证书</font></th>
                <th style="width: 130px;text-align: center"><font size="4pt">路线区域</font></th>
                <th style="width: 130px;text-align: center"><font size="4pt">招聘船型</font></th>
                <th style="width: 130px;text-align: center"><font size="4pt">吨位</font></th>
                <th style="width: 100px;text-align: center"><font size="4pt">时间范围</font></th>
            </tr>
        </table>
        {% for a in post_list %}
            <table class="table table-hover" cellspacing="100">
                <tr>
                    <td style="width: 100px;text-align: center">{{ a.duty }}</td>
                    <td style="width: 100px;text-align: center">{{ a.duty_id }}</td>
                    <td style="width: 100px;text-align: center">{{ a.ship_age }}</td>
                    <td style="width: 200px;text-align: center">{{ a.company_name }}</td>
                    <td style="width: 100px;text-align: center">{{ a.certificate_level }}</td>
                    <td style="width: 200px;text-align: center">{{ a.special_certificate }}</td>
                    <td style="width: 130px;text-align: center">{{ a.route_area }}</td>
                    <td style="width: 130px;text-align: center">{{ a.recruitment_ship }}</td>
                    <td style="width: 130px;text-align: center">{{ a.tonnage }}</td>
                    <td style="width: 100px;text-align: center">{{ a.time }}</td>
                </tr>
            </table>
        {% endfor %}
    </div>
</center>
</body>
</html>
{% endblock %}



     <!--   <h2>职务：{{ a.duty }}</h2>
        <h2>职务编号：{{ a.duty_id }}</h2>
        <h2>船龄：{{ a.ship_age }}</h2>
        <h2>公司名称：{{ a.company_name }}</h2>
        <h2>证书等级：{{ a.certificate_level }}</h2>
        <h2>特殊证书：{{ a.special_certificate }}</h2>
        <h2>路线区域：{{ a.route_area }}</h2>
        <h2>招聘船型：{{ a.recruitment_ship }}</h2>
        <h2>吨位：{{ a.tonnage }}</h2>
        <h2>时间范围：{{ a.time }}</h2>   -->