{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    {% for a in post_list %}
        <h2>用户名：{{ a.username }}</h2>
        <h2>职务：{{ a.duty }}</h2>
        <h2>职务编号：{{ a.duty_id }}</h2>
        <h2>船龄：{{ a.ship_age }}</h2>
        <h2>公司名称：{{ a.company_name }}</h2>
        <h2>证书等级：{{ a.certificate_level }}</h2>
        <h2>特殊证书：{{ a.special_certificate }}</h2>
        <h2>路线区域：{{ a.route_area }}</h2>
        <h2>招聘船型：{{ a.recruitment_ship }}</h2>
        <h2>吨位：{{ a.tonnage }}</h2>
        <h2>时间范围：{{ a.time }}</h2>
    {% endfor %}
    <h2>以下是您选择的信息：</h2>
    {% for b in information_list %}
        <h2>职务：{{ b.duty }}</h2>
        <h2>职务编号：{{ b.duty_id }}</h2>
        <h2>船龄：{{ b.ship_age }}</h2>
        <h2>公司名称：{{ b.company_name }}</h2>
        <h2>证书等级：{{ b.certificate_level }}</h2>
        <h2>特殊证书：{{ b.special_certificate }}</h2>
        <h2>路线区域：{{ b.route_area }}</h2>
        <h2>招聘船型：{{ b.recruitment_ship }}</h2>
        <h2>吨位：{{ b.tonnage }}</h2>
        <h2>时间范围：{{ b.time }}</h2>
    {% endfor %}
</body>
</html>
{% endblock %}