{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>船员招聘</title>
    <style>
        #large{
            width: 1000px;
            height: 800px;

            padding-top: 50px;

        }
        #right{
            float:left;
            width: 230px;
            height: 660px;
            background-color: #dff8ff;
            padding-top: 20px;
        }
        #left{
            float: left;
            width: 200px;
            height: 660px;
            background-color: #dff8ff;

        }
        #button{
            float: right;
            width: 900px;
            height: 50px;
            border: 1px solid red;
            padding-right: 450px;
        }
        #text1{
            line-height: 33px;
        }
        #text2{
            line-height: 24px;
        }
    </style>
</head>
<body>
<center>
    <div id="large">
        <div style="width: 448px; height: 700px;float: left; padding-top: 200px">
            <h2>个人信息修改</h2>
            <h3>在此处请您输入您的个人信息</h3>
            <h3>以便可以更快的与公司联系</h3>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <a class="button button-pill button-middle" href="/logout">退出登陆</a>
            <a class="button button-pill button-middle" href="/">返回个人主页</a>

        </div>
        <div style="width: 450px;height: 700px;float: left">
            <div id="left">
                <h3 id="text1">用户姓名：</h3>
                <h3 id="text1">职务编号：</h3>
                <h3 id="text1">船——龄：</h3>
                <h3 style="line-height: 40px">公司名称：</h3>
                <h3 id="text2">职——务：</h3>
                <h3 id="text2">证书等级：</h3>
                <h3 id="text2">特殊证书：</h3>
                <h3 id="text2">路线区域：</h3>
                <h3 id="text2">招聘船型：</h3>
                <h3 id="text2">吨——位：</h3>
                <h3 id="text2">时间范围：</h3>
            </div>
            <div id="right">
                <form method="post" style="float:left">
                    {% for name in title_list %}
                        <input class="form-control" type="text" name="user" value="{{ name.username }}"><br/>
                        <input class="form-control" type="text" name="duty_id" value="{{ name.duty_id }}"><br/>
                        <input class="form-control" type="text" name="ship_age" value="{{ name.ship_age }}"><br/>
                        <input class="form-control" type="text" name="company_name" value="{{ name.company_name }}"><br/>
                        <label for="a_duty">
                            <select name="duty" class="form-control">
                           <option value="{{ name.duty }}">{{ name.duty }}</option>
                           <option value="">————其他————</option> 
                           <option value="船长">船长</option>
                           <option value="大副">大副</option>
                           <option value="二副">二副</option>
                           <option value="三副">三副</option>
                           <option value="白皮三副">白皮三副</option>
                           <option value="驾助">驾助</option>
                           <option value="实习三副">实习三副</option>
                           <option value="GMDSS普通操作员">GMDSS普通操作员</option>
                           <option value="水手长">水手长</option>
                           <option value="木匠">木匠</option>
                           <option value="水手">水手</option>
                           <option value="高级水手">高级水手</option>
                           <option value="二水">二水</option>
                           <option value="新证水手">新证水手</option>
                           <option value="实习水手">实习水手</option>
                           <option value="轮机长">轮机长</option>
                           <option value="大管轮">大管轮</option>
                           <option value="二管轮">二管轮</option>
                           <option value="三管轮">三管轮</option>
                           <option value="白皮三管">白皮三管</option>
                           <option value="电机员">电机员</option>
                           <option value="电工">电工</option>
                           <option value="轮助">轮助</option>
                           <option value="实习三管">实习三管</option>
                           <option value="机工长">机工长</option>
                           <option value="铜匠">铜匠</option>
                           <option value="泵匠">泵匠</option>
                           <option value="机工">机工</option>
                           <option value="高级机工">高级机工</option>
                           <option value="新证机工">新证机工</option>
                           <option value="实习机工">实习机工</option>
                           <option value="高级水手">高级水手</option>
                           <option value="大厨">大厨</option>
                           <option value="服务员">服务员</option>
                           <option value="船医">船医</option>
                            </select>
                        </label><br/>
                        <label for="a_certificate_level">
                            <select name="certificate_level" class="form-control">
                                <option value="{{ name.certificate_level }}">{{ name.certificate_level }}</option>
                                <option value="">————其他————</option>
                                <option value="甲类">甲类</option>
                                <option value="乙一">乙一</option>
                                <option value="乙二">乙二</option>
                                <option value="丙一">丙一</option>
                                <option value="丙二">丙二</option>
                                <option value="丁类">丁类</option>
                                <option value="长一">长一</option>
                                <option value="长二">长二</option>
                                <option value="内河">内河</option>
                                <option value="其他">其他</option>
                            </select>
                        </label><br/>
                        <label for="a_special_certificate">
                            <select name="special_certificate" class="form-control">
                                <option value="{{ name.special_certificate }}">{{ name.special_certificate }}</option>
                                <option value="">————其他————</option>
                                <option value="化高证书">化高证书</option>
                                <option value="油高证书">油高证书</option>
                                <option value="液高证书">液高证书</option>
                                <option value="油化双证">油化双证</option> 
                                <option value="客滚船证书">客滚船证书</option>
                                <option value="海进江证书">海进江证书</option>
                                <option value="外籍签注适任证书">外籍签注适任证书</option>
                                <option value="高速船证书">高速船证书</option>
                                <option value="其他特殊证书">其他特殊证书</option>
                            </select>
                        </label><br/>
                        <label for="a_route_area">
                            <select name="route_area" class="form-control">
                                    <option value="{{ name.route_area }}">{{ name.route_area }}</option>
                                    <option value="">————其他————</option>
                                    <option value="国内南北线">国内南北线</option>
                                    <option value="中日韩">中日韩</option>
                                    <option value="东南亚">东南亚</option>
                                    <option value="中东波斯湾">中东波斯湾</option> 
                                    <option value="地中海">地中海</option>
                                    <option value="南北美">南北美</option>
                                    <option value="环球航线">环球航线</option>
                                    <option value="内河航线">内河航线</option>
                                    <option value="江海航线">江海航线</option>
                                    <option value="长江航线">长江航线</option>
                                    <option value="其他航线">其他航线</option>
                            </select>
                        </label><br/>
                        <label for="a_recruitment_ship">
                            <select name="recruitment_ship" class="form-control">
                                    <option value="{{ name.recruitment_ship }}">{{ name.recruitment_ship }}</option>
                                    <option value="">————其他————</option>
                                    <option value="散杂货船">散杂货船</option>
                                    <option value="集装箱船">集装箱船</option>
                                    <option value="多用途船">多用途船</option>
                                    <option value="油轮">油轮</option>
                                    <option value="化学品船">化学品船</option>
                                    <option value="油化船">油化船</option>
                                    <option value="液化气船">液化气船</option>
                                    <option value="工程船">工程船</option>
                                    <option value="冷藏船">冷藏船</option>
                                    <option value="港作船">港作船</option>
                                    <option value="LNG动力船">LNG动力船</option>
                                    <option value="客船">客船</option>
                                    <option value="客滚船">客滚船</option>
                                    <option value="滚装汽车船">滚装汽车船</option>
                                    <option value="拖轮">拖轮</option>
                                    <option value="作业渔船">作业渔船</option>
                                    <option value="打桩船">打桩船</option>
                                    <option value="邮船">邮船</option>
                                    <option value="沥青船">沥青船</option>
                                    <option value="木材船">木材船</option>
                                    <option value="泵船">泵船</option>
                                    <option value="工作船">工作船</option>
                                    <option value="邮政船">邮政船</option>
                                    <option value="海监船">海监船</option>
                                    <option value="救援船">救援船</option>
                                    <option value="不上船">不上船</option>
                                    <option value="其他">其他</option>
                            </select>
                        </label><br/>
                        <label for="a_tonnage">
                            <select name="tonnage" class="form-control">
                                <option value="{{ name.tonnage }}">{{ name.tonnage }}</option>
                                <option value="">————其他————</option>
                                <option value="5千吨以下">5千吨以下</option>
                                <option value="5千吨-1万吨">5千吨-1万吨</option>
                                <option value="1万吨-2万吨">1万吨-2万吨</option>
                                <option value="2万吨-3万吨">2万吨-3万吨</option> 
                                <option value="3万吨-6万吨">3万吨-6万吨</option>
                                <option value="6万吨-10万吨">6万吨-10万吨</option>
                                <option value="10万吨-15万吨">10万吨-15万吨</option>
                                <option value="15万吨-30万吨">15万吨-30万吨</option>
                                <option value="30万吨以上">30万吨以上</option>
                            </select>
                        </label><br/>
                        <label for="a_time">
                            <select name="time" class="form-control">
                                <option value="{{ name.time }}">{{ name.time }}</option>
                                <option value="">————其他————</option>
                                <option value="一星期内">一星期内</option>
                                <option value="一个月内">一个月内</option>
                                <option value="三个月内">三个月内</option>
                                <option value="一年以内">一年以内</option> 
                            </select>
                        </label><br/><br/><br/>
                        <input type="submit" class="button button-primary button-pill button-large" value="提交修改内容">
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</center>


</body>
</html>
{% endblock %}